.menu{
    text-align: center;
    display: inline-block;
    margin-left: 37px;
    border-radius: 10px;
}
.field{
    border-width: 0px;
}
h1{
    color:rgb(15, 91, 244);
}
body{
    background-color: #e5e5e5;
}